body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smallTextField .MuiInputBase-root {
  font-size: 12px;
  /* 調整文字大小 */
  padding: 2px 4px;
  /* 調整內邊距 */
  height: 24px;
  /* 調整高度 */
}

.smallTextField .MuiFormLabel-root {
  font-size: 12px;
  /* 修改文字大小 */
  top: -4px;
}

.smallTextField .Mui-focused {
  margin: 0;
  padding: 4px 8px;
}

.grid-item {
  position: relative;
}

.show-mask::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* 遮罩背景色 */
  /* 調整遮罩的層級 */
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2)
}